@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  pointer-events: all;
  position: relative;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  /* Correct property for rounded full */
  background-color: #FE624D;
  cursor: pointer;
  margin-top: -0.375rem;
  border: none;
}

.thumb::-moz-range-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  pointer-events: all;
  position: relative;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #FE624D;
  cursor: pointer;
  margin-top: -0.375rem;
  border: none;
}

.thumb::-ms-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  pointer-events: all;
  position: relative;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #FE624D;
  cursor: pointer;
  margin-top: -0.375rem;
  border: none;
}

.thumb--zindex-3 {
  z-index: 3;
}

.thumb--zindex-4 {
  z-index: 4;
}

.thumb--zindex-5 {
  z-index: 5;
}